
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource1" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
        <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let row"> {{row.category}} </td>
      </ng-container>

      <ng-container matColumnDef="quant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let row"> {{row.quant | number}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="freshness">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Freshness </th>
        <td mat-cell *matCellDef="let row"> {{row.freshness}} </td>
      </ng-container>
  
      <!-- Fruit Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let row"> {{row.price | currency}} </td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
      </ng-container>

      
      <ng-container matColumnDef="ident">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ident </th>
        <td mat-cell *matCellDef="let row"> {{row.ident | number}} </td>
      </ng-container>



      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button  color="primary" (click)="editProduct(row)">
            <mat-icon>edit</mat-icon>
          </button>

          <button
           
            mat-icon-button
            color="warn"
            (click)="deleteProduct(row._id)"
            [disabled]="row.ident!==0"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      
    </table>
  
    

    <mat-paginator [pageSizeOptions]="[10, 5, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
  